// COLORS
// $primary-color: #f28665;
// $secondary-color: #ea3b3b;
// $font-family: "Montserrat","Roboto";

// $light-white: #6149d963;
// $white-color: #6149d963;
// $header-color: #000000;
// $dark-grey: #6149d9bc;

// $dark-blue-text: #09000b; // For headings

$primary-color: #46aeb6;
$secondary-color: #96cace;
$font-family: "Montserrat","Roboto";

$light-white: #c08122;
$white-color: #c08122;
$header-color: #403b33;
$dark-grey: #3a5154;
$contact-color: #377076;
$sec-contact-color: #39abce;

$dark-blue-text: #d7d7d7; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 6rem;
// #b8740f