// COLORS
$primary-color: #f28665;
$secondary-color: #ea3b3b;
$font-family: "Roboto", "Montserrat";

$light-white: #588cd549;
$white-color: #02063ab9;
$dark-grey: #6149d9bc;

$dark-blue-text: #09000b; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 6rem;
