// COLORS
// $primary-color: #f28665;
// $secondary-color: #ea3b3b;
// $font-family: "Montserrat","Roboto";

// $light-white: #6149d963;
// $white-color: #6149d963;
// $header-color: #000000;
// $dark-grey: #6149d9bc;

// $dark-blue-text: #09000b; // For headings

$primary-color: #d6e1c7;
$secondary-color: #94c7b6;
$font-family: "Montserrat","Roboto";

$light-white: #d3643b;
$white-color: #d3643b;
$header-color: #403b33;
$dark-grey: #3a5154;
$contact-color: #6a9762;
$sec-contact-color: #67915f;

$dark-blue-text: #d7d7d7; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 6rem;
