#artwork {
  z-index: 6;
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $header-color;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .enlargable-image {
    width: 20%;
    height: 20%;
   
    transition: transform 0.3s ease; /* Suaviza la transición */
  }
  
  .enlargable-image:hover {
    transform: scale(1.1); /* Agranda la imagen al 110% */
  }

  .hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    span {
      margin: 0;
      display: inline-block;
    }

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .about-wrapper {
    grid-template-columns: 1fr 1fr;
    @include respond(phone) {
      padding-bottom: 5rem;
      grid-template-columns: 1fr;
    }

    &__image {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      img {
        max-width: 350px;
        width: 100%;
      }

      @include respond(tab-land) {
        height: 100%;
      }
      @include respond(tab-port-sm) {
        padding-bottom: 4rem;
      }
    }
    &__info {
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      @include respond(tab-port-sm) {
        align-items: center;
        text-align: center;
      }
    }
  }
}


#artwork::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/textures/texturapompagris.jpg'); /* Ruta a la textura */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Ajusta la opacidad según prefieras */
  z-index: 7; /* Asegura que la textura esté sobre el fondo pero debajo del contenido */
  pointer-events: none; /* Permite que los clics pasen al contenido */
}

