#projects {
  background-color: $light-white;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;
  z-index: 4;
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }
  @include respond(phone) {
    padding-bottom: 1px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 150px; /* Tamaño fijo para las celdas */
    height: 200px; /* Tamaño fijo para las celdas */
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.image-container:hover img {
    transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35); /* Black background with low opacity */
  color: white;
  display: flex;
  align-items:end;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}
caption {
  font-size: 3em;
  margin-bottom: 10px;
}
  .project-wrapper {
    margin-bottom: 15rem;
    @include respond(phone) {
      margin-bottom: 0rem;
    }
    .row {
      margin: 0;
      margin-bottom: 8rem;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__text {
      width: 100%;
      text-align: left;
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }
      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-info {
        margin-bottom: 1.5rem;
      }

      &-btns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }
      & .thumbnail {
        border: none;
        box-shadow: 8px 8px 9px 7px rgba(174, 174, 192, 0.4),
          -5px -5px 15px 7px #ffffff;

        .img-fluid {
          width: 100%;
          height: auto;
          vertical-align: top;
          border-radius: 10px;
        }
        @include respond(phone) {
          box-shadow: none;
          border: 1px solid #d2d2d2;
          margin-bottom: 3.2rem;
          transform: none;
        }
      }
    }
  }
}

// #projects::after {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: url('/textures/texturaFuego2.jpg'); /* Ruta a la textura */
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   opacity: 0.2; /* Ajusta la opacidad según prefieras */
//   z-index: 5; /* Asegura que la textura esté sobre el fondo pero debajo del contenido */
//   pointer-events: none; /* Permite que los clics pasen al contenido */
// }

//POP UP
/* Popup container */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%), scale(0);
  background-color: #403b33;
  padding: 20px;
  border: 0px solid #f46e3e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-height: 85%; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  display: none;
  z-index: 1000;
  border-radius: 30px;
  opacity: 0; /* Start fully transparent */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup.show {
  display: block; /* Make it block for visibility */
  
  transform: translate(-50%, -50%) scale(1); /* Scale to original size */
  opacity: 1; /* Fully visible */
}

.popup.hide {
  transform: translate(-50%, -50%) scale(0); /* Scale down */
  opacity: 0; /* Fully transparent */
}


.popup::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  
 
}

.popup::-webkit-scrollbar-track {
  background: white; /* Color de fondo de la pista */
  border-radius: 10px; /* Esquinas redondeadas de la pista */
  margin-right: 20px; /* This moves the track left */
}

.popup::-webkit-scrollbar-thumb {
  background: #46aeb6; /* Color de la parte deslizante */
  border-radius: 10px; /* Esquinas redondeadas de la parte deslizante */
}

.popup::-webkit-scrollbar-thumb:hover {
  background: #96cace; /* Color de la parte deslizante al pasar el ratón */
}

#popupBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Styling for the body to prevent scrolling */
.no-scroll {
  overflow: hidden;
}

/* Popup content */
.popup-content {
  background-color: #403b33;
  margin: auto;
  padding: 0px;
  width: 100%;
  max-height: 100%;
  position: relative;
}

/* Close button */
.close {
  position: sticky;
  top: 0px;
  left: 100%;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.close:hover{
  color: #46aeb6;
}

.main-gif {
  display: block;
  margin: 0 auto; /* Centro el GIF */
  width: 70%; /* Puedes ajustar este valor según sea necesario */
}

.gallery {
  display: flex;
  justify-content: center; /* Cambiado para centrar las imágenes */
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en lugar de cortarse */
  margin-top: 15px;
}

.gallery img {
  max-width: 20%; /* Permite que las imágenes se reduzcan dentro del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  object-fit: contain; /* Ajusta la imagen para que esté completamente visible */
  max-height: 10%; /* Altura máxima para las imágenes */
  margin: 20px; /* Espacio entre imágenes */
}

.description {
  margin-top: 20px;  
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
}

#projectDescription{
  font-size: 20px;
}