#projects {
  background-color: $light-white;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;
  z-index: 4;
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }
  @include respond(phone) {
    padding-bottom: 1px;
  }

  .enlargable-image {
    width: 20%;
    height: 20%;
   
    transition: transform 0.3s ease; /* Suaviza la transición */
  }
  
  .enlargable-image:hover {
    transform: scale(1.1); /* Agranda la imagen al 110% */
  }

  .test-button {
    display: inline-block;
        
    

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
}
td {
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 150px; /* Tamaño fijo para las celdas */
    height: 200px; /* Tamaño fijo para las celdas */
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.image-container:hover img {
    transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35); /* Black background with low opacity */
  color: white;
  display: flex;
  align-items:end;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1em;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}
caption {
  font-size: 3em;
  margin-bottom: 10px;
}
  .project-wrapper {
    margin-bottom: 15rem;
    @include respond(phone) {
      margin-bottom: 0rem;
    }
    .row {
      margin: 0;
      margin-bottom: 8rem;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__text {
      width: 100%;
      text-align: left;
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }
      @include respond(phone) {
        margin-bottom: 2.5rem;
      }
      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      &-info {
        margin-bottom: 1.5rem;
      }

      &-btns {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }
      & .thumbnail {
        border: none;
        box-shadow: 8px 8px 9px 7px rgba(174, 174, 192, 0.4),
          -5px -5px 15px 7px #ffffff;

        .img-fluid {
          width: 100%;
          height: auto;
          vertical-align: top;
          border-radius: 10px;
        }
        @include respond(phone) {
          box-shadow: none;
          border: 1px solid #d2d2d2;
          margin-bottom: 3.2rem;
          transform: none;
        }
      }
    }
  }
}

// #projects::after {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-image: url('/textures/texturaFuego2.jpg'); /* Ruta a la textura */
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   opacity: 0.2; /* Ajusta la opacidad según prefieras */
//   z-index: 5; /* Asegura que la textura esté sobre el fondo pero debajo del contenido */
//   pointer-events: none; /* Permite que los clics pasen al contenido */
// }

/* Popup container */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #403b33;
  padding: 20px;
  border: 0px solid #f46e3e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%; /* Mantener el ancho para móviles */
  max-height: 85%; /* Altura máxima */
  overflow-y: auto; /* Habilitar desplazamiento vertical */
  display: none;
  z-index: 1000;
  border-radius: 30px;
  opacity: 0; /* Comienza completamente transparente */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.popup.show {
  display: block; /* Hacerlo block para visibilidad */
  transform: translate(-50%, -50%) scale(1); /* Escalar al tamaño original */
  opacity: 1; /* Totalmente visible */
}

.popup.hide {
  transform: translate(-50%, -50%) scale(0); /* Escalar hacia abajo */
  opacity: 0; /* Totalmente transparente */
}

.popup::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.popup::-webkit-scrollbar-track {
  background: white; /* Color de fondo de la pista */
  border-radius: 10px; /* Esquinas redondeadas de la pista */
  margin-right: 20px; /* Esto mueve la pista a la izquierda */
}

.popup::-webkit-scrollbar-thumb {
  background: #46aeb6; /* Color de la parte deslizante */
  border-radius: 10px; /* Esquinas redondeadas de la parte deslizante */
}

.popup::-webkit-scrollbar-thumb:hover {
  background: #96cace; /* Color de la parte deslizante al pasar el ratón */
}

#popupBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Estilo para el body para evitar el desplazamiento */
.no-scroll {
  overflow: hidden;
}

/* Contenido del popup */
.popup-content {
  background-color: #403b33;
  margin: auto;
  padding: 0px;
  width: 100%; /* Ancho completo */
  max-height: 100%; /* Altura máxima */
  position: relative;
}

/* Botón de cierre */
.close {
  position: sticky;
  top: 0px;
  left: 100%;
  font-size: 40px; /* Tamaño de fuente grande para escritorio */
  cursor: pointer;
  color: white;
  z-index: 1001;
}

.close:hover {
  color: #46aeb6;
}

.test-button{
  text-align: center; 
  width: 20%; 
  height: 20%; 
  margin-left: 40%; 
  margin-top: 2%;
}

.main-gif {
  display: block;
  margin: 0 auto; /* Centro el GIF */
  width: 70%; /* Ajusta este valor según sea necesario */
}

.gallery {
  display: flex;
  justify-content: center; /* Cambiado para centrar las imágenes */
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan */
  margin-top: 15px;
}

.gallery img {
  max-width: 50%; /* Permite que las imágenes se reduzcan dentro del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  object-fit: contain; /* Ajusta la imagen para que esté completamente visible */
  max-height: 10%; /* Altura máxima para las imágenes */
  margin: 20px; /* Espacio entre imágenes */
}

.description {
  margin-top: 20px;  
  margin-left: 200px; /* Espaciado izquierdo para escritorio */
  margin-right: 200px; /* Espaciado derecho para escritorio */
  margin-bottom: 20px; /* Espaciado inferior */
}

#projectDescription {
  font-size: 20px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .popup {
    width: 95%; /* Ancho del popup en móviles */
    padding: 10px; /* Ajuste de padding para móviles */
    max-height: 90%; /* Aumentar la altura máxima en móviles */
    z-index: 1000;
  }

  .close {
    font-size: 30px; /* Tamaño de fuente más pequeño para el botón de cierre en móviles */
    position: absolute; /* Cambiado a posición absoluta */
    top: 10px; /* Ajuste según sea necesario */
    right: 10px; /* Ajuste según sea necesario */
  }

  .main-gif {
    width: 100%; /* GIF ocupa todo el ancho en móviles */
  }

  .gallery img {
    max-width: 100%; /* Las imágenes ocupan el 100% en móviles */
    margin: 10px; /* Espacio entre imágenes */
  }

  .description {
    margin: 10px; /* Margen más pequeño en móviles */
    margin-left: 10px; /* Margen izquierdo más pequeño */
    margin-right: 10px; /* Margen derecho más pequeño */
  }

  .test-button{
    text-align: center; 
    width: 100%; 
    height: 100%; 
    margin-left: 0%; 
    margin-top: 2%;
  }
}
